body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #7a86ce;
  color: #c4ee94;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}

main > h2 {
  text-align: center;
  font-size: 25px;
}

li {
  color: #c41a15;
  font-size: 40px;
